__pycache__/
.github/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
build/
coverage.html/
dist/
docs/
fitsmap.egg-info/
htmlcov/
coverage.xml
.coverage
.coveragerc
.readthedocs.yaml
.rtd.requirements.txt
CITE.bib
coverage.xml
Makefile
MANIFEST.in
pytest.ini
README.rst

fitsmap/__pycache__/
fitsmap/tests/
