
\.vscode/

data/**

fitsmap/__pycache__/

tmp/

docs/_build/**

build/**

dist/**

fitsmap.egg-info/**

fitsmap/tests/__pycache__/

.coverage
coverage.xml

testing_tmp/

fitsmap/tests/data/test.columns

fitsmap/_version.py