include fitsmap/support/MarkerCluster.min.css
include fitsmap/support/MarkerCluster.Default.min.css
include fitsmap/support/TileNearestNeighbor.min.css
include fitsmap/support/l.ellipse.min.js
include fitsmap/support/customSearch.min.js
include fitsmap/support/favicon.ico
include fitsmap/support/loading-logo.svg
include fitsmap/support/tiledMarkers.min.js
include fitsmap/support/MarkerPopup.min.css
include fitsmap/support/urlCoords.js.tmp
include fitsmap/support/vector-tile.min.js